@import 'nib'

$color--clouds = #ECF0F1
$color--silver = #BDC3C7
$color--concrete = #95A5A6
$color--asbestos = #7F8C8D
$color--wet-asphalt = #34495E
$color--midnight-blue = #2C3E50

$color--peter-river = #3498DB
$color--belize-hole = #2980B9
$color--amethyst = #9B59B6
$color--wisteria = #8E44AD

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

body
  font-family "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif
  background $color--wet-asphalt
  color $color--silver

h1, h2, h3, h4, h5, h6
  font-family "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif

em
  color #f1c40f
  font-style normal

.header
  background $color--midnight-blue
  padding 0 0 20px 0
  h1
    line-height 40px
    color #fff

.contents
  padding 20px 0

.footer
  background $color--midnight-blue
  padding 20px 0 0 0
  color #fff

.results
  .result
    margin 10px 0
    .result__tdn
      font-size 15px
      color #27ae60
    .result__name
      font-size 30px
      margin-bottom 0px
      a
        color lighten($color--peter-river, 10%)
    .result__yomi
      font-size 15px
  .result-na
    padding 30px 0
    p
      color $color--clouds

.spinner
  margin 100px auto
  width 40px
  height 40px
  position relative
  text-align center
  animation rotate 2.0s infinite linear
  .dot1, .dot2
    width 60%
    height 60%
    display inline-block
    position absolute
    top 0
    background-color #2980b9
    border-radius 50%
    animation bounce 2.0s infinite ease-in-out
  .dot2
    top auto
    bottom 0px
    animation-delay -1.0s

.onoffswitch
  position relative
  width 180px
  user-select none
  .onoffswitch-checkbox
    display none
    &:checked
      & + .onoffswitch-label
        .onoffswitch-inner
          margin-left 0
  .onoffswitch-label
    display block
    overflow hidden
    cursor pointer
    border-radius 11px
  .onoffswitch-inner
    width 200%
    margin-left -100%
    text-align center
    transition margin 0.3s ease-in 0s
    color #fff
    &:before
      content "多田野 → Tdn"
      background-color $color--peter-river
    &:after
      content "Tdn → 多田野"
      background-color $color--amethyst
    &:hover
      opacity 0.8
  .onoffswitch-inner:before, .onoffswitch-inner:after
    float left
    width 50%
    line-height 46px
    font-size 18px
    color white
    font-weight bold
    box-sizing border-box

@keyframes rotate
  100%
    transform rotate(360deg)

@keyframes bounce
  0%, 100%
    transform scale(0.0)
  50%
    transform scale(1.0)