header.header
  .container
    h1.text-muted.title TDNIZER
    .row.form-search
      .col-xs-4
        input#input--word.form-control.input-lg(placeholder="多田野", ng-model="word", ng-keyup="search()", ng-change="search()")
      .col-xs-8
        .onoffswitch
          input#myonoffswitch.onoffswitch-checkbox(type="checkbox", checked, ng-model="tdnize", ng-change="switchTdnize()")
          label.onoffswitch-label(for="myonoffswitch")
            .onoffswitch-inner
        .tdnize-to(ng-model="tdnize")

.container
  .results
    .row.result(ng-repeat="dic in dics", ng-hide="searching")
      h3.result__name
        a(ng-href="http://dic.nicovideo.jp/a/{{dic.name|encodeURI}}", target="_blank")
          span(ng-bind-html="dic.name|highlight:word")
      .result__tdn(ng-bind-html="dic.tdn|highlight:word")
      .result__yomi(ng-bind-html="dic.yomi|highlight:word")
    .result-na(ng-show="resultNA")
      p TDNIZERは、多田野表記からTDN表記を検索したり、TDN表記から多田野表記を検索するサービスです

    .loading(ng-show="searching")
      .spinner
        .dot1
        .dot2

footer.footer
  .container
    p
      | Thanks to
      a(ng-href="http://tkido.com/blog/1019.html", target="_blank")  ニコニコ大百科IME辞書
      |  ,
      a(ng-href="http://dic.nicovideo.jp/", target="_blank")  ニコニコ大百科
      |  Powered by
      a(ng-href="http://heroku.com/", target="_blank")  heroku
      |  ,
      a(ng-href="https://github.com/DaftMonk/generator-angular-fullstack", target="_blank")  angular-fullstack