div(ng-include='\'partials/navbar\'')

.row
  .col-xs-6
    input.form-control.input-lg(placeholder="tdn", ng-model="query", ng-keyup="search()", ng-change="search()")
  .col-xs-6
    label.switch-light.progress.progress-striped.active.well
      input(type="checkbox", ng-model="tdnize", ng-change="search()")
      span
        span 多田野 > Tdn
        span Tdn > 多田野
      a.progress-bar.progress-bar-primary
    .tdnize-to(ng-model="tdnize")

.results
  .row.result(ng-repeat="dic in dics", ng-hide="searching")
    h3.result__name
      a(href="http://dic.nicovideo.jp/a/{{dic.name|encodeURI}}")
        span(ng-bind-html="dic.name|highlight:query")
    p.result__tdn(ng-bind-html="dic.tdn|highlight:query")
    p.result__yomi(ng-bind-html="dic.yomi|highlight:query")

  .loading(ng-show="searching")
    .spinner
      .dot1
      .dot2

.footer
  p ♥ from the Yeoman team